Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Overview

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

# Introduction
In this notebook, we will explore key concepts in Data Science, including popular programming languages, libraries, and tools used in the field. Additionally, we will demonstrate arithmetic expressions and unit conversions through coding examples.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

## Data Science Languages
Some common languages used in Data Science are:
- Python
- R
- SQL
- Julia
- Java
- Scala

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

## Data Science Libraries
Popular libraries used in Data Science include:
- Pandas
- NumPy
- Scikit-learn
- Matplotlib
- Seaborn
- TensorFlow
- PyTorch
- Keras

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

## Data Science Tools

| Tool         | Description                                          |
|--------------|------------------------------------------------------|
| Jupyter      | An open-source web application for creating notebooks |
| GitHub       | A platform for version control and collaboration     |
| Tableau      | A data visualization tool                           |
| Excel        | A spreadsheet tool with basic data analysis features |
| Apache Spark | A unified analytics engine for big data processing  |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

## Arithmetic Expression Examples
In this section, we will demonstrate how to perform basic arithmetic operations such as addition and multiplication in Python.

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

# Multiplication and Addition
num1 = 5
num2 = 3

# Multiply
product = num1 * num2

# Add
sum_result = num1 + num2

product, sum_result

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

# Convert Minutes to Hours
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Example: Convert 120 minutes to hours
minutes = 120
minutes_to_hours(minutes)

Exercise 10 - Insert a markdown cell to list Objectives. (3 pts)

## Objectives
- Understand key data science languages and libraries.
- Learn how to use various data science tools.
- Implement basic arithmetic expressions and conversions in Python.

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author
This notebook was created by Varun Upadhyay.